.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h4 {
  font-weight: 200;
}

.linha {
  display: flex;
  -webkit-border-radius: 23px !important;
  -moz-border-radius: 23px !important;
  border-radius: 23px !important;
}